---
import Main from "../components/main.astro";
import egor from "./egor.gif"
import { Image } from "astro:assets";

---

<Main>
	<h3>Oof. Not found</h3>
	<p>Link broken? Let us know.</p>
	<a href="/egor" ><Image src={egor} alt="we love egor" style="width: auto; max-height: 500px; aspect: 1" ></Image></a>
</Main>