---
import Main from "../components/main.astro";
import egor from "../../public/egor.gif"
import { Image } from "astro:assets";

---

<Main>
	<h3>Oof. Not found</h3>
	<p>Link broken? Let us know.</p>
	<Image src={egor} alt="we love egor" style="width: 100%" ></Image>
</Main>