---
import Main from "../components/main.astro";
import { discordUrl } from "../consts";
---

<Main>
	<Fragment slot="hdr" >
		<meta http-equiv="refresh" content={`0;url=${discordUrl}`} />
	</Fragment>

	<h3>Redirecting...</h3>
	
	<p><a href={discordUrl} >Click here if you are not automatically redirected.</a></p>
</Main>