---
import fs from "node:fs/promises";
import Main from "../components/main.astro";

const messages: {
	avatar: string,
	username: string,
	content: string[],
	img: string[]
}[] = JSON.parse(await fs.readFile("./egor.json", "utf-8"));

---

<Main title="Egor Fan Club" >
	<style slot="head" >
		#msgs {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		.msg {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			background: black;
			border-radius: 20px;
			padding: 15px 20px;
		}

		.avatar {
			border-radius: 50%;
			margin-right: 22px;
			max-width: 50px;
		}

		.msg-content {
			display: flex;
			flex-direction: column;
		}

		.attachment {
			margin: 3px;
			border-radius: 2px;
			max-width: calc(min(100%, 20rem));
		}

		#msgs .msg p {
			font-weight: 300;
			margin: 10px 3px;
			word-break: break-word;
			text-indent: 0;
		}
	</style>

	<h3>We Love Egor</h3>
	<div id="msgs" >
		{messages.map(m=>
			m==null ? <hr/> : <div class="msg" >
				<img src={m.avatar} alt="avatar" class="avatar" />
				<div class="msg-content" >
					<b>{m.username}</b>
					{m.content.map(x=><p>{x}</p>)}
					{m.img.map(i=><img src={i} alt="attachment" class="attachment" />)}
				</div>
			</div>
		)}
	</div>
</Main>